<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login & Register Page</title>
</head>
<body>
    
    <h1>Welcome!</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <legend>
        <fieldset>Register
            <form action="process/register" method="POST">
                {% csrf_token %}
                Name: <input type="text" name="name">
                Username: <input type="text" name="username">
                Email: <input type="text" name="email">
                Password: <input type="text" name="password">
                *Password should be at least 8 characters
                Confirm Password: <input type="text" name="confirm_password">
                <input type="submit" value="Register">
            </form>
        </fieldset>
    </legend>

    <legend>
        <fieldset>
            <form action="process/login" method="POST">
                {% csrf_token %}
                Email: <input type="text" name="email">
                Password: <input type="text" name="password">
                <input type="submit" value="Login">
            </form>
        </fieldset>
    </legend>

</body>
</html>