<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books Home</title>
</head>
<body>

    <h1>Welcome, {{user.username}}!</h1>
    <a href="/books/new">Add Book and Review</a>
    <a href="/logout">Logout</a>


    <div style="width: 80%;">
        <div style="display:inline-block; width: 70%;">
            <h2>Recent Book Reviews:</h2>
            {% for review in reviews %}
                <p><a href="/books/show/{{ review.book.id }}">{{ review.book.title }}</a></p>
                <p>Rating: {{ review.rating }}</p>
                <p><a href="/users/{{ review.reviewer.id }}">{{ review.reviewer.username }}</a> says: {{ review.content }}</p>
                <p>Posted on {{ review.created_at }}</p>
            {% endfor %}
        </div>
        <div style="width: 25%; display: inline-block; vertical-align: top;">
            <h2 style="display: inline-block; vertical-align: top;">Other Books with Reviews:</h2>
            <div style="overflow: scroll; height: 100px; border: 3px solid black">
                {% for book in books %}
                    <p><a href="/books/show/{{ book.id }}">{{ book.title }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>