<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ book.title }}</title>
</head>
<body>

    <h3>{{ book.title }} <a href="/books">Home</a> <a href="/logout">Logout</a></h3>
    <p>Author: {{ book.author.name }}</p>

    {% for review in reviews %}
        <hr>
        Rating: {{ review.rating }}
        <p><a href="/users/{{review.reviewer.id}}">{{ review.reviewer.username }}</a> says: {{ review.content }}</p>
        <p>{{ review.created_at }} {% if review.reviewer.id == request.session.user_id %}<a href="/books/review/destroy/{{ review.id }}">Delete</a> {% endif %}</p>
    {% endfor %}

    <form action="/books/process/review" method="POST">
        {% csrf_token %}
        Add a Review: <textarea name="review" cols="30" rows="10"></textarea>
        Rating: 
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="hidden" name="reviewer" value="{{ request.session.user_id }}" >
        <input type="hidden" name="book" value="{{ book.id }}">
        <input type="submit" name="Submit Review">
    </form>


    
</body>
</html>